<form #frm="">
  <div class="imgcontainer">
    <span class="close" style="width:auto;" (click)="close()">&times;</span>
  </div>
  <div class="container">
    <label>
      <b>Username</b>
    </label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label>
      <b>Password</b>
    </label>
    <input type="password" placeholder="Enter Password" name="psw" required>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="savebtn" (click)="save()">Save</button>
    <button type="button" class="cancelbtn" (click)="close()">Cancel</button>
  </div>
</form>
